/******* talipapa dashboard all css ********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* default css */

/* colors */
html {
    --white: #ffffff;
    --bg: #f6f7f9;
    --secondary-bg: #e9ebee;
}

/* width */
.scrollbar_one::-webkit-scrollbar {
    width: 3px;
    display: none;
}
  
/* Track */
.scrollbar_one::-webkit-scrollbar-track {
   background: #f1f1f1; 
}
   
/* Handle */
.scrollbar_one::-webkit-scrollbar-thumb {
    background: #ccc; 
    display: none;
}
  
/* Handle on hover */
.scrollbar_one::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1; 
}

/* Track */
.scrollbar_one::-webkit-scrollbar-track {
   background: #f1f1f1; 
}
   
/* Handle */
.scrollbar_one::-webkit-scrollbar-thumb {
    background: #ccc; 
}
  
/* Handle on hover */
.scrollbar_one::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1; 
}


/* end default css */

/* ====== header style css ========*/
.dashboard_header{
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
}
.dh_start{
    display: flex;
    align-items: center;
}

.dh_menu_toggle{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.dh_menu_toggle:hover{
    background-color: var(--secondary-bg);
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.dh_badge{
    padding: 2px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.dh_badge_colored{
    background-color: hsl(16deg 90% 53%);
    color: #ffffff;
    font-size: 13px;
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
}
.dh_badge span{
    margin: 2px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.dh_middle{
    display: flex;
}
.dh_dropdown_wraper{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-right: 2px solid rgba(0,0,0,0.075);
}
.dh_dropdown_wraper.no_border{
    border-right: 0px solid transparent;
}
.dh_dropdown_wraper svg{    
    font-size: 18px;
    margin-top: 2px;
    margin-right: 3px;
    cursor: pointer;
}
.dh_dropdown_wraper span{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

@media(max-width: 1100px){
   .dh_badge_wraper{
       display: none;
   }
}
@media(max-width: 900px){
    .dh_badge_wraper{
        display: none;
    }
    .dh_middle .dh_dropdown_wraper:nth-child(1){
        display: none;
    }
    .dh_middle .dh_dropdown_wraper:nth-child(2){
        display: none;
    }
    .dh_middle .dh_dropdown_wraper:nth-child(3){
        display: none;
    }
 }

 @media(max-width: 600px){
    .dh_badge_wraper{
        display: none;
    }
    .dh_middle{
        display: none;
    }
 }

/* ====== End header style css ======= */

/* ====== Sidebar style css ======== */
.dh_sidebar{
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    max-width: 280px;
    height: 0px;
    overflow: hidden;
    background-color: #f6f7f9;
    border-right: 1px solid rgba(0,0,0,0.075);
    display: grid;
    grid-template-rows: auto 1fr;
    transition: 0.3s ease-in-out;
    z-index: 100;
}
.dh_sidebar.show{
    height: 90vh;
    transition: 0.3s ease-in-out;
}
.dh_sidebar_title{
    padding: 10px;
    background-color: #e1e8f0;
    color: #455066;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.dh_sidebar_title.active{
    color: #5842df;
}
.dh_sidebar_title svg{
    font-size: 20px;
    margin-right: 7px;
}

.dhs_menu_wraper{
    overflow: auto;
}
.dhs_menu{
    padding: 10px;
    color: #434e62;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.dhs_menu > div svg{
    font-size: 20px;
    color: #434e62;
    margin-right: 7px;
    margin-bottom: 2px;
}
.dhs_menu .dsh_toggle svg{
    transition: 0.3s ease-in-out;
    font-size: 25px;
}
.dhs_menu.active .dsh_toggle svg{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}
.dhs_menu span{
    font-size: 18px;
}
.dhs_menu_lists{
    color: #434e62;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.dhs_menu_lists.active{
    max-height: 1000px;
    transition: 0.5s ease-in-out;
}
.dhs_list_item{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    padding-left: 37px;
    cursor: pointer;
}
.dhs_list_item:hover{
    color: #5842df;
}
.dhs_list_item.sub{
    padding-left: 55px;
}
.dhs_list_item svg{
    font-size: 22px;
}

/* ====== End sidebar style css ====== */

/* ======== dashboard page css ======== */
.dashboard_wraper{
    background-color: var(--white);
    height: auto;
    height: 100vh;
    max-height: auto;
}
/* ======== End dashboard page css ====== */

/* ======== Order page css ========= */
.pending_order_wraper{
    width: 100%;
    height: auto;
    background-color: var(--bg);
    padding: 20px;
}

/* ======== End order page css ====== */

/* ======== Order setting page css ======= */
.product_setting_wraper{
    display: grid;
    grid-template-columns: 78% 22%;
    background-color: var(--bg);
}
@media(max-width: 1000px){
    .product_setting_wraper{
        grid-template-columns: 70% 30%;
    }
}
@media(max-width: 800px){
    .product_setting_wraper{
        grid-template-columns: 100% 100%;
    }
}
.product_setting_nav_wraper{
    padding: 10px;
    border-left: 3px solid #e1dfdf;
}
.psn_item{
    display: flex;
    align-items: center;
    transform: translateX(-17px);
    padding: 10px 0px;
    cursor: pointer;
}
.psn_item .psn_item_dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #5842df;
    background-color: var(--white);
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.psn_item .psn_item_text{
    font-size: 18px;
    color: #333;
    transition: 0.2s ease-in-out;
}
.psn_item:hover .psn_item_text{
    color: #5842df;
}
.psn_item.active .psn_item_dot{
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.psn_item.active .psn_item_text{
    color: #5842df;
    opacity: 0.2s ease-in-out;
}
.order_setting_wraper{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
.order_settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    background-color: var(--bg);
}
.order_setting_item{
    background-color: var(--white);
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.osi_citem_icon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a8b8c8;
    margin-left: 7px;
}
.osi_citem_icon svg{
    font-size: 18px;
}
.osi_cost_inptop{
    margin: 10px 0px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}
.osi_cost_inptop input{
    padding: 5px 15px;
    width: 100%;
    border: none;
    outline: none;
}

.osi_cost_inptop select{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
.down_shadow{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.setting_delivery_wraper{
    display: grid;
    padding: 10px;
    width: 80%;
}
@media(max-width: 1000px){
    .setting_delivery_wraper{width: 100%;}
}

.sdw_item_input{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 7px;
    border-radius: 3px;
}
.sdw_item_input input{
    padding: 5px 15px;
    border: none;
    outline: none;
    border-right: 2px solid rgba(0,0,0,0.2);
    font-size: 14px;
}
.sdw_item_input select{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
}
.sdwi_input input{
    width: 100%;
}
.mediaSettingFilepicker{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: #f9fdfe;
    border: 1px dashed rgba(0,0,0,0.2);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediaSettingFilepicker input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.mediaSettingFilepicker svg{
    font-size: 35px;
    color: #524f4f;
}

/* ======== End Order settings page css  ====== */

/* ======= price management css ======= */
.empty_table_data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--bg);
}
/* ======= End price management css ===== */

/* ======== Product sales report css ======== */
.ps_sale_wraper{
    background-color: var(--bg);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
.ps_select_input{
    display: flex;
    margin-left: 7px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}
.ps_select_input select{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 7px;
    font-size: 14px;
}
.ps_select_input input{
    padding: 6px 10px;
    border: none;
    outline: none;
    border-left: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    font-size: 14px;
}
.ps_select_input svg{
    font-size: 20px;
}

.ps_date_input{
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 3px;
}
.ps_date_input input{
    width: 100%;
    color: #333;
    border: none;
    outline: none;
}
.ps_date_input svg{
    color: #333;
}
.ps_dropdown_select{
    width: 100%;
}
.ps_dropdown_select select{
    font-size: 14px;
}
.ps_dasitem_wraper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90%;
    background-color: var(--bg);
}
@media(max-width: 1000px){
    .ps_dasitem_wraper{
        width: 100%;
        grid-template-columns: 33% 33% 33%;
    }
}
@media(max-width: 800px){
    .ps_dasitem_wraper{
        width: 100%;
        grid-template-columns: 50% 50%;
    }
}
@media(max-width: 600px){
    .ps_dasitem_wraper{
        width: 100%;
        grid-template-columns: 80%;
    }
}
.ps_dasitem{
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.075);
    border-radius: 3px;
}
.ps_dasitem_infobtn{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}
.ps_dasitem_infobtn:hover{
    border: 2px solid rgba(0,0,0,0.5);
}

.ps_dasitem_one{
    border-left: 4px solid #5842df;
}
.ps_dasitem_two{
    border-left: 4px solid #ce2518;
}
.ps_dasitem_three{
    border-left: 4px solid #178be7;
}
.ps_dasitem_four{
    border-left: 4px solid #5842df;
}
.ps_dasitem_five{
    border-left: 4px solid #e5ae09;
}
@media(max-width: 600px){
    .ps_sm_col{
        flex-direction: column;
        width: 100%;
    }
    .ps_sm_col span{
        margin-bottom: 7px;
    }
}

/* ======== End Product sales report css ====== */