/* order warning component */
.order_warning_wraper{
    border: 1px solid rgba(0,0,0,0.075);
    border-radius: 3px;
}
.order_warning_wraper.hide{
    display: none;
}
.order_warning{
    padding: 10px 15px;
    background-color: #fdf6e3;
    border-top: 3px solid #f6b837;
    display: grid;
    grid-template-columns: 20px auto 20px;
    align-items: top;
    justify-content: space-between;
}
.ord_warning_icon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6b837;
    font-size: 13px;
    border-radius: 50%;
    color: #f1f1f1;
}
.ord_warning_close{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}
.ord_warning_close svg{
    font-size: 16px;
}
.ord_warning_close:hover{
    background-color: #f9eed2;
    cursor: pointer;
}
.order_warning a{
    margin-left: 7px;
    color: #6346d8;
    transition: 0.2s ease-in-out;
    border: none;
}
.order_warning a:hover{
    color: #5d08f4;
    transition: 0.2s ease-in-out;
}
/* end order warning component */

/* order search filter component design */
.order_searchfilter_wraper{
    padding: 15px 0px;
}
.orf_search_top{
    display: grid;
    grid-template-columns: 50% 20% 20%;
    grid-gap: 10px;
}
.orf_dropsearch{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 3px;
}
.orfd_dropdown{
    padding: 6px 15px;
    border-right: 2px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orfd_dropdown span{
    font-size: 15px;
}
.orfd_input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 15px;
    color: rgb(55 65 81);
}
.orf_dropdown{
    padding: 6px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 3px;
}
.orf_dropdown span{
    font-size: 15px;
}
.orf_input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 15px;
    color: rgb(55 65 81);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

@media(max-width: 1000px){
    .orf_search_top{
        display: grid;
        grid-template-columns: 50% 30%;
    }
}

@media(max-width: 700px){
    .orf_search_top{
        display: grid;
        grid-template-columns: 95%;
    }
}

.orf_search_bottom{
    display: grid;
    grid-template-columns: 5px 25% 25% 8% 10%;
    grid-gap: 10px;
}
@media(max-width: 1000px){
    .orf_search_bottom{
        grid-template-columns: 0px 35% 35% auto auto;
    }
}
@media(max-width: 800px){
    .orf_search_bottom{
        grid-template-columns: 45% 45%;
    }
}
@media(max-width: 600px){
    .orf_search_bottom{
        grid-template-columns: 90%;
    }
}
.orf_search{
    border-radius: 3px;
    padding: 6px 15px;
    border: none;
    outline: none;
    background-color: #5e20ff;
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.orf_search:hover{
    background-color: #4b14dc;
    transition: 0.2s ease-in-out;
}
.orf_filter{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 6px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.orf_filter svg{
    margin-right: 7px;
}

/* end order search filter component design */

/* pending table css */
.order_table_header{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.pth_tab_button{
    display: flex;
}
.pth_tab_button button{
    padding: 12px 15px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 5px;
    font-size: 15px;
}
.pth_tab_button button.active{
    background-color: var(--white);
    border-bottom: 1px solid transparent;
}

.pth_export_btn{
    display: flex;
    justify-content: space-between;
    min-width: 120px;
    padding: 7px 15px;
    background-color: #5e20ff;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
    color: #ffffff;
}
.pth_export_btn:hover{
    background-color: #4b14dc;
    transition: 0.2s ease-in-out;
}
@media(max-width: 800px){
    .order_table_header{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .pth_tab_button{
        margin-bottom: 10px;
        flex-direction: column;
    }
    .pth_tab_button button{
        font-size: 14px;
        margin: 5px 0px;
    }
}

.order_table_tab{
    padding: 0px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    display: flex;
    margin-right: 7px;
}
.order_table_tab button{
    padding: 20px;
    display: flex;
    margin-right: 10px;
    font-size: 15px;
}
.order_table_tab button:hover{
    cursor: pointer;
    color: #333;
}
.ott_badge{
    padding: 2px 10px;
    font-size: 14px;
    background-color: var(--bg);
    border-radius: 10px;
    color: #333;
}
.order_table_tab button.active{
    border-bottom: 3px solid #5a23ff;
}
.order_table_tab button.active .ott_badge{
    background-color: #5a23ff;
    color: var(--white);
}
.table_overflow{
    width: 100%;
    overflow: hidden;
}
.table_overflow table{
    min-width: 1200px;
}


/* end pending table css */

/* filter box design css */

.order_filterbox_wraper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_filterbox{
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
.ofi_header{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
}
.ofi_header h4{
    font-size: 20px;
}
.ofi_close{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.ofi_close:hover{
    background-color: var(--bg);
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(0,0,0,0.075);
}

.ofi_action{
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
}
.ofia_btn{
    padding: 7px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}
.ofia_btn:hover{
    border: 1px solid rgba(0,0,0,0.5);
}
.ofia_btn.confirm{
    background-color: #5a23ff;
    color: #ffffff;
}
.ofia_btn.confirm:hover{
    border: 1px solid transparent;
    background-color: #4b14dc;
}

.ofi_filter_wraper{
    position: relative;
}
.ofi_filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
}
.ofi_filter_item{
    padding: 10px;
}

.ofi_filter_item input{
    width: 100%!important;
    padding: 7px 15px;
    border: none;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    color: rgb(55 65 81);
}


.ofc_selected{
    padding: 7px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.ofc_selected:hover{
    background-color: var(--bg);
    transition: 0.2s ease-in-out;
}
.ofc_box{
    position: absolute;
    top: 110%;
    left: 0;
    width: 80vw;
    height: 50vh;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.ofc_box_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-right: 2px solid rgba(0,0,0,0.1);
}
.ofcb_link_item{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ofcb_link_item:hover{
    background-color: var(--bg);
    cursor: pointer;
}
.ofcb_link_item.active{
    background-color: #f4edfd;
    font-weight: bold;
}



/* end filter box design css */

/* order settings design css */

.binfo_setting_input{
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-top: 7px;
}
.binfo_setting_input input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-right: 1px solid rgba(0,0,0,0.1);
    font-size: 15px;
    color: #333;
}
@media(max-width: 1000px){
    .binfo_setting_input{
        width: 100%;
    }
}

.binfo_setting_select{
    width: 80%;
}
@media(max-width: 1000px){
    .binfo_setting_select{
        width: 100%;
    }
}
.binfo_setting_textarea textarea{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 15px;
    outline: none;
    color: #333;
}
.editorClassName{
    padding: 0px 15px;
}
.binfo_settings_bottom{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    justify-content: right;
}
.binfo_action_btn{
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
    padding: 7px 15px;
    color: #333;
    border-radius: 3px;
}
.binfo_action_btn:hover{
    border: 1px solid rgba(0,0,0,0.5);
}
.binfo_action_btn.save{
    background-color: #5a23ff;
    transition: 0.2s ease-in-out;
    color: #f1f1f1;
}
.binfo_action_btn:hover.save{
    background-color: #4b14dc;
    transition: 0.2s ease-in-out;
    color: #f1f1f1;
}

/* end order settings design */

/* master product warning */
.mpwarning_wraper{
    padding: 15px 20px;
}
.mpwarning{
    padding: 10px;
    background-color: #f1f1fd;
    border-top: 4px solid #5c26e9;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}
.mpwarning svg{
    font-size: 18px;
    color: #5a23ff;
}
.mp_select_input{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    background-color: var(--white);
}
.mp_select_input select{
    border: none;
    outline: none;
    font-size: 13px;
    background-color: transparent;
    color: #333;
}
.mp_select_input input{
    width: 100%;
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 7px 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: var(--white);
}
.mp_border_right{
    border-left: 1px solid rgba(0,0,0,0.2);
}
.mp_input_searchicon{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #333;
    background-color: var(--white);
}
.mp_input_searchicon svg{
    font-size: 18px;
}
.mp_wraper{
    background-color: var(--bg);
    padding-bottom: 10px;
}
.mp_grid_wraper{
    display: flex;
}
@media(max-width: 1000px){
    .mp_grid_wraper{
        flex-direction: column;
    }
}
.mpi_btn{
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #5a23ff;
    padding: 0px 10px;
    border-radius: 3px;
    font-size: 13px;
    color: #ffffff;
}
.mpi_btn:hover{
    cursor: pointer;
    background-color: #4b14dc;
}
.mpi_btn_icon svg{
    font-size: 16px;
    margin-right: 5px;
}
.mpi_btn.lite{
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #ffffff;
    padding: 0px 10px;
    border-radius: 3px;
    font-size: 13px;
    color: #333;
    border: 1px solid rgba(0,0,0,0.1);
}
.mpi_btn.lite svg{
    font-size: 18px;
}
.small_svg svg{
    font-size: 16px;
}
.mp_info_txt{
    display: flex;
    align-items: center;
}
.mp_info_txt span{
    font-size: 14px;
    color: #555;
    margin-right: 5px;
}
.mp_info_txt span svg{
    font-size: 18px;
    color: #b1becd;
}
.mp_product_table{
    height: auto;
    width: 100%;
    overflow: auto;
}
.mppt_header{
    padding: 0px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
}
.mppt_tab_btn{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
}
.mppt_tab_btn span{
    font-size: 14px;
    margin-right: 10px;
    color: #555;
}
.mppt_btn_sub{
    width: fit-content;
    min-width: 30px;
    text-align: center;
    height: fit-content;
    padding: 1px 5px;
    font-size: 13px;
    background-color: var(--bg);
    border-radius: 5px;
    color: #555;
}
.mppt_tab_btn.active{
    border-bottom: 3px solid #5a23ff;
}
.mppt_tab_btn.active span{
    color: #333;
}
.mppt_tab_btn.active .mppt_btn_sub{
    background-color: #5a23ff;
    color: #ffffff;
}

@media(max-width: 1000px){
    .flex_md_col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .md_d_one{
        display: none;
    }
}

/* end master product warning */


